{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/search.js') }}"></script>
{% endblock %}

{% block main %}
    <h1 class="center-block text-center">江西省中成药数据库</h1>
    <form action="{{ path('chmedicine_search') }}" method="get">
        <div class="form-group">
            <select name="t" class="form-control" style="width:120px;color: rebeccapurple;">
                <option value="0" selected>企业</option>
                <option value="1">品种</option>
                <option value="2">药材</option>
            </select>
            </br>
            <input name="q" type="text" class="form-control search-field" placeholder="{{ 'post.search_for'|trans }}" autocomplete="off" autofocus>
        </div>
    </form>

    <div id="results">
    </div>
{% endblock %}
